
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>@Html.ActionLink("Promjenite svoje podatke", "mojipodaci")</h2>

<h1>Povijest iznajmljivanja knjiga (Vaš ID @ViewBag.ID)</h1>
<table class="table" id="tablica">
    <thead>
        <tr>
            <th>
                Naslov knjige
            </th>
            <th>
                Autor
            </th>
            <th>
                Datum iznajmljivanja
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Knjiga)
        {
            <tr>
                <td>
                    @item.Knjiga.Naziv
                </td>
                <td>
                    @item.Knjiga.Autor
                </td>
                <td>
                    @item.Datum
                </td>
            </tr>
        }
    </tbody>
</table>